body {
	background-color: black;
	font-family: 'Comic Sans MS', Arial, sans-serif;
}

h1 {
	font-size: 3em;
	color: white;
	text-align: center;
}

p {
	font-size: 1.5em;
	color: white;
}

.fixed {
	position: fixed;
}

.horizontal .flex {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.vertical .flex {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.top {
	z-index: 1000;
}

#loader-container {
	background-color: black;
	text-align: center;
	left: 0%;
	top: 0%;
	width: 100%;
	height: 100%;
}

#loader {
	position: relative;
	border: 0.5em solid #f3f3f3;
	border-top: 0.5em solid #3498db;
	border-radius: 50%;
	width: 5em;
	height: 5em;
	animation: spin 1s ease-in-out infinite;
	margin: auto;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

#game-container {
	position: absolute;
	left: 10%;
	top: 10%;
	width: 80%;
	height: 80%;
}

#board-container {
	position: relative;
}

#board {
	position: relative;
	left: 0;
	top: 0;
}

#board-img {
	position: relative;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

#board-container .chess {
	position: absolute;
	width: 12.5%;
	height: 12.5%;
}

#board-container .chess.chosen {
	background-color: rgba(52, 152, 219, 0.8);
}

#board-container .chess img {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

#info-container {
	position: relative;
	margin: 2em;
}